.tapBarWrap{
    max-width: 480px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        width: 25%;
        height: 100%;
        // border: 1px solid;
        text-align: center;
        button{
            width: 100%;
            height: 100%;
            div{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                p{
                    padding-top: 24px;
                    position: relative;
                    &::before{
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        top: 24%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .home{
                    &::before{
                        background-image: url('../../public/assets/icons/home.svg');
                    }
                }

                .category{
                    &::before{
                        background-image: url('../../public/assets/icons/burger.svg');
                    }
                }
                .search{
                    &::before{
                        background-image: url('../../public/assets/icons/search.svg');
                    }
                }
                .my{
                    &::before{
                        background-image: url('../../public/assets/icons/person.svg');
                    }
                }
                &.active{
                    p{
                        font-weight: 700;
                        color: #FF4B77;
                    }
                    .home{
                        &::before{
                            background-image: url('../../public/assets/icons/home_pink.svg');
                        }
                    }
    
                    .category{
                        &::before{
                            background-image: url('../../public/assets/icons/burger_pink.svg');
                        }
                    }
                    .search{
                        &::before{
                            background-image: url('../../public/assets/icons/search_pink.svg');
                        }
                    }
                    .my{
                        &::before{
                            background-image: url('../../public/assets/icons/person_pink.svg');
                        }
                    }

                }
            }
        }
    }
}