/* :root{
   --pink: #FF4B77;
   --blue: #0D326F;
   --red: #FF0F0F;   
   --b6: #6F6F6F;
   --b8: #8E8E8E;
   --ba: #ABABAB;
   --bc: #CBCBCB;
} */

.search{
   margin-top: 30px;
   h2{
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 20px;
   }
   >ul{
      display: flex;
      gap: 26px;
      margin-bottom: 100px;
      li{
         padding-top: 20px;
         position: relative;
         button:nth-of-type(1){
            color: #FF4B77;
            padding: 9.5px 30px;
            border: 1px solid #FF4B77;
            border-radius: 50px;
            
         }
         button:nth-of-type(2){
            position: absolute;
            top: 8px;
            right: 7px;
            z-index: 2;
            img{
               width: 28px;
               height: 28px;
            }
         }
      }
   }
   >section{
      // display: flex;
      // gap: 21px;
      figure{
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         position: relative;
         
         padding-top: 30px;
         img{
            width: 140px;
            height: 170px;
            border-radius: 10px;
         }
         p{
            margin-top: 20px;
            color: #666;
         }
         figcaption{
            color: black;
         }
         button{
            img{
               position: absolute;
               width: 28px;
               height: 28px;
               top: 8%;
               right: -10%;
            }
         }
      }
   }
}