/* :root{
   --pink: #FF4B77;
   --blue: #0D326F;
   --red: #FF0F0F;   
   --b6: #6F6F6F;
   --b8: #8E8E8E;
   --ba: #ABABAB;
   --bc: #CBCBCB;
} */
.search {
  margin-top: 30px;
}
.search h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
}
.search > ul {
  display: flex;
  gap: 26px;
  margin-bottom: 100px;
}
.search > ul li {
  position: relative;
}
.search > ul li button:nth-of-type(1) {
  color: #FF4B77;
  padding: 7px 30px;
  border: 1px solid #FF4B77;
  border-radius: 50px;
}
.search > ul li button:nth-of-type(2) img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -25%;
  right: -10%;
}
.search > section {
  display: flex;
  gap: 21px;
}
.search > section > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.search > section > figure img {
  width: 140px;
  height: 170px;
  border-radius: 10px;
}
.search > section > figure p {
  margin-top: 20px;
  color: #666;
}
.search > section > figure figcaption {
  color: black;
}
.search > section > figure button img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: -4%;
  right: -5%;
}